<section id="two" class="main">
    <div class="spotlight">
        <div class="content">
    <header class="major">
        <h2>GitHub</h2>
    </header>
    <p>GitHub adalah manajemen proyek dan sistem versioning code sekaligus platform jaringan sosial yang dirancang khusus bagi para developer.</p>
    <footer class="major">
        <ul class="actions">
            <li><a href="{{'github'|page}}" class="button">Baca Selengkapnya > > ></a></li>
        </ul>
    </div>
        <span class="image"><img src="{{'assets/images/pic11.png'|theme}}" alt="image" /></span>
    </div>
    </footer>
</section>