<!-- Third Section -->
<section id="three" class="main">
    <header class="major">
        <h2>October</h2>
        <p>October adalah sistem manajemen konten (CMS) gratis, sumber terbuka dan yang dihosting sendiri berdasarkan bahasa pemrograman PHP dan kerangka kerja aplikasi web Laravel.</p>

        <img src="{{'assets/images/pic08.png'|theme}}"height="320px" width="300px">
        <img src="{{'assets/images/pic09.jpg'|theme}}"height="320px" width="650px">

    <p class="content">Ini mendukung MySQL, SQLite dan PostgreSQL untuk backend database dan menggunakan database file datar untuk struktur ujung depan. CMS Oktober mencakup berbagai kemampuan seperti pengguna, izin, tema, dan plugin.Platform ini dimaksudkan untuk memiliki kurva pembelajaran kecil dan sistem templat yang mudah dikelola dengan sistem kontrol versi. Mulai Januari 2020, Oktober adalah repositori PHP CMS berbintang kedua yang dihosting di GitHub. Museum Seni Dallas menggunakan CMS Oktober di kios informasi mereka. Banyak pengguna bulan Oktober berada di Amerika Serikat dan Rusia. Ada juga beberapa pengguna Eropa. </p>
    <footer class="major">
        <ul class="actions">
            <li><a href="{{'oktober'|page}}" class="button">Baca Selengkapnya > > ></a></li>
        </ul>
    </footer>
</section>