<section id="one" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
                <h2>Blog</h2>
            </header>
            <p>Ingin tahu informasi dan Blog Yang menarik,Mungkin Dibawah Ini Cocok Untukmu :)</p>
            <ul class="actions">
                <li><a href="{{'blog'|page}}" class="button">Baca Selengkapnya > > ></a></li>
            </ul>
        </div>
        <span class="image"><img src="{{'assets/images/pic07.jpg'|theme}}" alt="image" /></span>
    </div>
</section>